.App {
  background-color: #111;
  color: #fcfcfc
}
.dashboard {
  max-width: 600px;
  margin: 0 auto;
}
.homeContainer {
  max-width: 600px;
  margin: 0 auto;
}

body,
#images,
#images a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#profileImage {
	object-fit: cover !important;
	min-height: 300px;
	height: 300px;
}